

button {
    display: block;
    margin-top: 20px;
}

#btn-search{
    color: rgb(13, 185, 13);
    background-color: rgb(244, 243, 243);
    border: 1px solid rgb(13, 185, 13);
    border-radius: 10px;
    width: 100px;
}

#btn-mas{
    background-color: rgb(18, 159, 159);
    border: 1px solid rgb(18, 159, 159);
    border-radius: 50%;
    color: white;
}

#btn-create{
    background-color: blue;
    border: 2px solid black;
    color: white;
    width: 150px;
    box-shadow: 3px 3px 0px black;
}